table, td, tr{
    border: 1px solid white;
    background-color: lightblue;
}

th{
    background-color: aquamarine;
    border: 1px solid white;
}

body{
    background-image: url("https://kuhistory.ku.edu/sites/kuhistory.ku.edu/files/1912.png");
    background-attachment: fixed;
}
div{
    width: 400px;
    height: 400px;
    background-color: white;

}